// Components Z Index list
// ------------------------------------------------------------

$z-site-loader            : 999999;
$z-header                 : 800000;
$z-sound				  : 600000;
$z-icons				  : 500000;
$z-overlay				  : 30000;
$z-video-holder			  : 10000;
