// Components Footer
// ------------------------------------------------------------

.footer-nav {
  background: $black;
  color: $white;
  height: auto;
  padding: ($gutter * 2) 0;
  text-align: left;

  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }

  a {
	color: $white;
  }

  .callto {
	color: $white;
	margin: ($gutter *2) 0 ($gutter) 0;
	@include adjust-font-size-to(14px);
	a {
	  text-decoration: none;
	}

  }

  @include respond-to($bp-med) {
	height: 26vh;
	padding: 0;
	text-align: center;

	span {
	  display: inline-block;
	  margin: 0 $gutter 0 0;
	}

	.callto {
	  margin-top: ($gutter * 4);
	  @include adjust-font-size-to(16px);
	}
  }

}