// Components Fullscreen
// ------------------------------------------------------------

.sub-nav {
  list-style-type: none;
  margin: 0 0 ($gutter * 2) 0;
  padding: 0;

  a, span {
    color: $white;
    display: block;
    padding-left: ($gutter * 2.5);
    position: relative;
    text-decoration: none;
    @extend .h4;

    &:visited {
      color: $white;
    }

    &:before {
      background-position: $bullet-list-pos;
      content: '';
      height: ($gutter * 2);
      left: 0;
      position: absolute;
      top: ($gutter / 4);
      width: ($gutter * 2);
      @extend .sprite-sheet;
    }

    &.active {
      &:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }

    }

  }

  span {
    &:before {
      display: none;
      background: none;
    }
  }

  &.smaller {
    margin: $gutter 0 0 0;
    a, span {
      @extend .h5;
      padding: 0;
    }
  }

}
